# iDEALParking
## ETL

### Reading data

In [130]:
import pandas as pd  
import numpy as np

data = pd.read_csv('idealistaAPI-2018-Oct-30-1713.csv')
y = data["price"]

### Only in Barcelona

In [131]:
data = data[data['municipality'] == 'Barcelona']

### Dropping data

In [132]:
data = data.drop("detailedType.typology",1)
data = data.drop("Unnamed: 0",1)
data = data.drop("country",1)
data = data.drop("has360",1)
data = data.drop("has3DTour",1)
data = data.drop("hasVideo",1)
data = data.drop("externalReference",1)
data = data.drop("operation",1)
data = data.drop("propertyCode",1)
data = data.drop("propertyType",1)
data = data.drop("thumbnail",1)
data = data.drop("newDevelopmentFinished",1)
data = data.drop("url",1)
data = data.drop("province",1)
data = data.drop("showAddress",1)
data = data.drop("address",1)
data = data.drop("exterior",1)
data = data.drop("suggestedTexts.title",1)
data = data.drop("suggestedTexts.subtitle",1)
data = data.drop("priceByArea",1)
data = data.drop("latitude",1)
data = data.drop("longitude",1)
data = data.drop("floor",1)
data = data.drop("municipality",1)

### Feature extraction

In [133]:
# Renaming all features
data = data.rename(columns={"detailedType.subTypology":"Type", "neighborhood":"Neighborhood", "distance":"Distance" })
data = data.rename(columns={"numPhotos":"NumPhotos", "newDevelopment":"NewDevelopment", "hasPlan":"HasPlan" })
data = data.rename(columns={"hasLift":"HasLift", "district":"District"})

# Keeping data

# data_k = data
# # District
# data['District'] = (data['District'].astype(str))
# aux = data.copy()
# district = np.unique(data['District'])
# for i in range(0,len(district)):
#     aux[(data['District'] == district[i])] = i+1 
# data['District'] = aux['District']

# # Neighborhood
# data['Neighborhood'] = (data['Neighborhood'].astype(str))
# aux = data.copy()
# neighborhood = np.unique(data['Neighborhood'])
# for i in range(0,len(neighborhood)):
#     aux[(data['Neighborhood'] == neighborhood[i])] = i+1 
# data['Neighborhood'] = aux['Neighborhood']

# # Type
# data = data.dropna()
# data['Type'] = (data['Type'].astype(str))
# aux = data.copy()
# type_ = np.unique(data['Type'])
# for i in range(0,len(type_)):
#     aux[(data['Type'] == type_[i])] = i+1 
# data['Type'] = aux['Type']

# # hasLift
# dummies = [1 if x==True else  0 for x in data["HasLift"]]
# data["HasLift"] = dummies

# # hasPlan
# dummies = [1 if x==True else  0 for x in data["HasPlan"]]
# data["HasPlan"] = dummies

# # newDevelopment
# dummies = [1 if x==True else  0 for x in data["NewDevelopment"]]
# data["NewDevelopment"] = dummies

### Extracting X and y and saving it

In [134]:
y = data["price"]
# data = data.drop("price",1)
# X = np.array(data.values).astype(float)

# # Saving it
# np.save('X',X)
# np.save('y',y)

### Showing data

In [142]:
y[data["District"]=="Eixample"].mean()
district = np.unique(data['District'])
solution = []
for i in range(0,len(district)):
    aux = []
    aux.append(district[i])
    aux.append(y[(data['District'] == district[i])].mean())
    solution.append(aux)
    
np.save(solution

[['Ciutat Vella', 104.52],
 ['Eixample', 98.39276485788113],
 ['Gràcia', 94.07035175879398],
 ['Horta Guinardó', 85.87209302325581],
 ['Les Corts', 99.98843930635839],
 ['Nou Barris', 79.8225806451613],
 ['Sant Andreu', 78.51572327044025],
 ['Sant Martí', 151.04109589041096],
 ['Sants-Montjuïc', 87.13304721030043],
 ['Sarrià-Sant Gervasi', 139.0483870967742]]

### First approach: mean

In [97]:
data_k

,Type,Distance,District,HasLift,HasPlan,Neighborhood,NewDevelopment,NumPhotos,price
0,NaN,2106,2,False,False,25,False,8,142.0
1,NaN,2499,9,False,False,24,False,13,150.0
2,NaN,1899,2,False,False,35,False,2,38.0
3,sedanCar,2007,2,True,False,35,False,9,109.0
4,sedanCar,3470,4,True,False,16,False,1,100.0
6,carAndMotorcycle,2248,2,False,False,37,False,4,130.0
7,sedanCar,2026,2,True,False,25,False,3,120.0
8,compactCar,1414,2,False,False,53,False,4,100.0
9,sedanCar,2246,2,False,False,53,False,3,80.0
11,compactCar,1705,2,True,False,28,False,3,90.0
12,sedanCar,3952,10,False,False,47,False,2,100.0
13,sedanCar,3088,8,False,False,10,False,2,105.0
14,compactCar,4938,4,False,False,23,False,3,90.0
15,sedanCar,3973,7,False,False,48,False,4,85.0
16,sedanCar,4076,10,True,False,61,False,3,110.0
17,motorcycle,3853,7,False,False,48,False,2,35.0
18,compactCar,4251,7,False,True,14,False,5,100.0
20,sedanCar,4031,5,True,False,34,False,6,120.0
21,sedanCar,3604,8,True,True,51,False,19,120.0
22,compactCar,6646,6,False,False,36,False,1,70.0
24,sedanCar,2215,3,True,True,64,False,4,125.0
25,carAndMotorcycle,1641,2,True,False,25,False,2,140.0
27,sedanCar,1499,2,True,False,15,False,5,110.0
28,sedanCar,2215,2,True,False,37,False,5,96.0
30,sedanCar,2474,2,True,False,35,False,2,95.0
31,motorcycle,3050,9,False,False,30,False,5,30.0
32,carAndMotorcycle,2581,9,False,False,30,False,1,90.0
33,sedanCar,1185,2,True,False,25,False,3,130.0
36,motorcycle,2538,8,True,False,20,False,1,30.0
37,compactCar,4661,10,False,False,61,False,3,65.0
...,...,...,...,...,...,...,...,...,...
2811,compactCar,7255,7,True,False,41,False,3,60.0
2812,compactCar,2889,5,False,False,45,False,1,90.0
2814,compactCar,609,2,True,False,28,False,1,100.0
2816,sedanCar,1132,2,True,False,28,False,1,190.0
2817,sedanCar,1366,2,True,False,25,False,1,140.0
2818,compactCar,3123,8,False,False,10,False,2,90.0
2820,motorcycle,2677,8,False,False,20,False,0,15.0
2821,sedanCar,4285,10,False,False,61,False,0,120.0
2822,compactCar,3985,7,True,False,38,False,0,85.0
2823,compactCar,2866,5,True,False,45,False,0,95.0
2824,compactCar,3675,10,False,False,56,False,0,100.0
2825,sedanCar,918,2,True,False,53,False,0,100.0
2826,sedanCar,4741,5,True,False,34,False,0,90.0
2827,sedanCar,2701,9,True,False,59,False,0,110.0
2828,sedanCar,3953,9,False,False,60,False,0,95.0
2830,motorcycle,2339,2,True,False,35,False,0,60.0
2832,motorcycle,4987,4,True,False,23,False,0,30.0
2836,compactCar,4561,4,False,False,40,False,0,120.0
2837,motorcycle,1303,1,False,False,26,False,0,50.0
2839,sedanCar,2818,9,True,False,24,False,0,100.0
2840,carAndMotorcycle,6264,7,True,False,52,False,0,90.0
2841,sedanCar,4427,7,False,False,38,False,0,90.0
2842,compactCar,3783,9,False,False,32,False,0,100.0
2843,sedanCar,4659,8,False,False,43,False,0,150.0
2845,compactCar,3856,10,False,False,47,False,0,30.0
2846,compactCar,3189,10,False,False,55,False,0,100.0
2847,sedanCar,2983,8,True,False,10,False,0,95.0
2848,sedanCar,3194,3,False,False,39,False,0,100.0
2849,sedanCar,1977,2,True,False,37,False,0,40.0
2851,compactCar,1245,2,True,False,15,False,0,90.0