# iDEALParking
## ETL

### Reading data

In [85]:
import pandas as pd  
import numpy as np

data = pd.read_csv('idealistaAPI-2018-Oct-30-1713.csv')
y = data["price"]

### Only in Barcelona

In [86]:
data = data[data['municipality'] == 'Barcelona']

### Dropping data

In [87]:
data = data.drop("detailedType.typology",1)
data = data.drop("Unnamed: 0",1)
data = data.drop("country",1)
data = data.drop("has360",1)
data = data.drop("has3DTour",1)
data = data.drop("hasVideo",1)
data = data.drop("externalReference",1)
data = data.drop("operation",1)
data = data.drop("propertyCode",1)
data = data.drop("propertyType",1)
data = data.drop("thumbnail",1)
data = data.drop("newDevelopmentFinished",1)
data = data.drop("url",1)
data = data.drop("province",1)
data = data.drop("showAddress",1)
data = data.drop("address",1)
data = data.drop("exterior",1)
data = data.drop("suggestedTexts.title",1)
data = data.drop("suggestedTexts.subtitle",1)
data = data.drop("priceByArea",1)
data = data.drop("latitude",1)
data = data.drop("longitude",1)
data = data.drop("floor",1)
data = data.drop("municipality",1)

### Feature extraction

In [88]:
# Renaming all features
data = data.rename(columns={"detailedType.subTypology":"Type", "neighborhood":"Neighborhood", "distance":"Distance" })
data = data.rename(columns={"numPhotos":"NumPhotos", "newDevelopment":"NewDevelopment", "hasPlan":"HasPlan" })
data = data.rename(columns={"hasLift":"HasLift", "district":"District"})

# District
data['District'] = (data['District'].astype(str))
aux = data.copy()
district = np.unique(data['District'])
for i in range(0,len(district)):
    aux[(data['District'] == district[i])] = i+1 
data['District'] = aux['District']

# Neighborhood
data['Neighborhood'] = (data['Neighborhood'].astype(str))
aux = data.copy()
neighborhood = np.unique(data['Neighborhood'])
for i in range(0,len(neighborhood)):
    aux[(data['Neighborhood'] == neighborhood[i])] = i+1 
data['Neighborhood'] = aux['Neighborhood']

# Type
data = data.dropna()
data['Type'] = (data['Type'].astype(str))
aux = data.copy()
type_ = np.unique(data['Type'])
for i in range(0,len(type_)):
    aux[(data['Type'] == type_[i])] = i+1 
data['Type'] = aux['Type']

# hasLift
dummies = [1 if x==True else  0 for x in data["HasLift"]]
data["HasLift"] = dummies

# hasPlan
dummies = [1 if x==True else  0 for x in data["HasPlan"]]
data["HasPlan"] = dummies

# newDevelopment
dummies = [1 if x==True else  0 for x in data["NewDevelopment"]]
data["NewDevelopment"] = dummies

### Extracting X and y and saving it

In [89]:
y = data["price"]
data = data.drop("price",1)
X = np.array(data.values).astype(float)

# Saving it
np.save('X',X)
np.save('y',y)

### Showing data

In [90]:
data

,Type,Distance,District,HasLift,HasPlan,Neighborhood,NewDevelopment,NumPhotos
3,4,2007,2,1,0,35,0,9
4,4,3470,4,1,0,16,0,1
6,1,2248,2,0,0,37,0,4
7,4,2026,2,1,0,25,0,3
8,2,1414,2,0,0,53,0,4
9,4,2246,2,0,0,53,0,3
11,2,1705,2,1,0,28,0,3
12,4,3952,10,0,0,47,0,2
13,4,3088,8,0,0,10,0,2
14,2,4938,4,0,0,23,0,3
15,4,3973,7,0,0,48,0,4
16,4,4076,10,1,0,61,0,3
17,3,3853,7,0,0,48,0,2
18,2,4251,7,0,1,14,0,5
20,4,4031,5,1,0,34,0,6
21,4,3604,8,1,1,51,0,19
22,2,6646,6,0,0,36,0,1
24,4,2215,3,1,1,64,0,4
25,1,1641,2,1,0,25,0,2
27,4,1499,2,1,0,15,0,5
28,4,2215,2,1,0,37,0,5
30,4,2474,2,1,0,35,0,2
31,3,3050,9,0,0,30,0,5
32,1,2581,9,0,0,30,0,1
33,4,1185,2,1,0,25,0,3
36,3,2538,8,1,0,20,0,1
37,2,4661,10,0,0,61,0,3
38,4,8640,6,0,0,4,0,5
39,4,1712,2,0,0,25,0,1
40,4,1832,2,0,0,37,0,2
...,...,...,...,...,...,...,...,...
2811,2,7255,7,1,0,41,0,3
2812,2,2889,5,0,0,45,0,1
2814,2,609,2,1,0,28,0,1
2816,4,1132,2,1,0,28,0,1
2817,4,1366,2,1,0,25,0,1
2818,2,3123,8,0,0,10,0,2
2820,3,2677,8,0,0,20,0,0
2821,4,4285,10,0,0,61,0,0
2822,2,3985,7,1,0,38,0,0
2823,2,2866,5,1,0,45,0,0
2824,2,3675,10,0,0,56,0,0
2825,4,918,2,1,0,53,0,0
2826,4,4741,5,1,0,34,0,0
2827,4,2701,9,1,0,59,0,0
2828,4,3953,9,0,0,60,0,0
2830,3,2339,2,1,0,35,0,0
2832,3,4987,4,1,0,23,0,0
2836,2,4561,4,0,0,40,0,0
2837,3,1303,1,0,0,26,0,0
2839,4,2818,9,1,0,24,0,0
2840,1,6264,7,1,0,52,0,0
2841,4,4427,7,0,0,38,0,0
2842,2,3783,9,0,0,32,0,0
2843,4,4659,8,0,0,43,0,0
2845,2,3856,10,0,0,47,0,0
2846,2,3189,10,0,0,55,0,0
2847,4,2983,8,1,0,10,0,0
2848,4,3194,3,0,0,39,0,0
2849,4,1977,2,1,0,37,0,0
2851,2,1245,2,1,0,15,0,0